<div class="disclaimer">
  <i>
    Due to the large sizes of these networks, we have turned off D3js by default
    to load the page smoothly. Below, you can toggle it on or off. If you turn
    it on, please be patient. Also, stick to the 'mention' and 'information'
    networks, they are a bit more manageable in size than the 'hashtag' graph
    and make sure to turn this one 'off' when you turn another one 'on'.


  </i>
  <strong>
    Only static images of the 'mention' and 'info' graph are included
    since the 'hashtag' graph was to large to display.
  </strong>
  <div class="toggle-graph">
    <label>D3js Toggle</label>
    <div class="button-block">
      <button  id="off-gcc" class="selected">Off</button>
      <button  id="on-gcc">On</button>
    </div>
  </div>
</div>
<div class="graph-images-gcc">
  <p style="text-align: center">
    <img style="width:100%" src="images/mention_gcc_lv.png"/>
  </p>
  <p style="text-align: center">
    <img style="width:100%" src="images/info_gcc_lv.png"/>
  </p>
</div>
<div class="graph-wrapper-gcc" style="display: none">
  <div class="graph-settings">
    <label>Node size scale</label>
    <div class="button-block">
      <button type="button" id="normal-gcc" class="selected">Uniform size</button>
      <button type="button" id="log-gcc">Logarithmic in degree</button>
    </div>
  </div>
  <div class="graph-settings">
    <label>Type of graph</label>
    <div class="button-block">
      <button type="button" id="mention-gcc">Mention Graph</button>
      <button type="button" id="hashtag-gcc">Hashtag Graph</button>
      <button type="button" id="info-gcc" class="selected">Information Graph</button>
    </div>
  </div>
  <svg id="gcc" style="width: 100%;" width="800" height="600"></svg>
</div>


<script>
    var scale = 'normal';
    var graph = 'info';

    var gccSettings = {
      'hashtag': {
        'strength': -8,
        'scaleFactor': 20
      },
      'mention': {
        'strength': -0.8,
        'scaleFactor': 5
      },
      'info': {
        'strength': -8,
        'scaleFactor': 3,
      }
    }

    $(document).ready(function(){
      $('#off-gcc').click(function() {
        console.log('Turning off');
        $('#off-gcc').addClass('selected');
        $('#on-gcc').removeClass('selected');
        $('.graph-wrapper-gcc').hide();
        $('.graph-images-gcc').show();
        removeGcc();
      });
      $('#on-gcc').click(function() {
        console.log('Turning on');
        $('#on-gcc').addClass('selected');
        $('#off-gcc').removeClass('selected');
        $('.graph-wrapper-gcc').show();
        $('.graph-images-gcc').hide();
        renderGcc();
      });
    });

    $(document).ready(function(){
      $("#normal-gcc").click(function(){
        $("#normal-gcc").addClass("selected")
        $("#log-gcc").removeClass("selected")
        removeGcc();
        scale = 'normal';
        renderGcc();
      });
      $("#log-gcc").click(function(){
        $("#log-gcc").addClass("selected")
        $("#normal-gcc").removeClass("selected")
        removeGcc();
        scale = 'log';
        renderGcc();
      });
    });

    $(document).ready(function(){
      $("#mention-gcc").click(function(){
        $("#mention-gcc").addClass("selected")
        $("#hashtag-gcc").removeClass("selected")
        $("#info-gcc").removeClass("selected")
        removeGcc();
        graph = 'mention';
        renderGraph();
      });
      $("#hashtag").click(function(){
        $("#hashtag-gcc").addClass("selected")
        $("#mention-gcc").removeClass("selected")
        $("#info-gcc").removeClass("selected")
        removeGcc();
        graph = 'hashtag';
        renderGcc();
      });
      $("#hashtag").click(function(){
        $("#info-gcc").addClass("selected")
        $("#mention-gcc").removeClass("selected")
        $("#hashtag-gcc").removeClass("selected")
        removeGcc();
        graph = 'info';
        renderGcc();
      });
    });

    function scaleSize(d) {
      if (scale === 'normal') {
        return 3;
      }
      if (scale === 'log') {
        return gccSettings[graph]['scaleFactor'] * Math.log(d.degree);
      };
    };

    function removeGcc() {
      var svg = d3.select("#gcc");
      svg.selectAll("*").remove();
    }

    function renderGcc() {
      var svg = d3.select("#gcc"),
      width = +svg.attr("width"),
      height = +svg.attr("height");

      var color = d3.scaleOrdinal(d3.schemeCategory20);

      var simulation = d3.forceSimulation()
        .force("link", d3.forceLink().id(function(d) { return d.id; }))
        .force("charge", d3.forceManyBody().strength(gccSettings[graph]['strength']))
        .force("center", d3.forceCenter(width / 2, height / 2));
      d3.json("data/" + graph + "_gcc_LV.json", function(error, graph) {
        if (error) throw error;

        var link = svg.append("g")
          .attr("class", "links")
          .selectAll("line")
          .data(graph.links)
          .enter().append("line")
          .attr("stroke-width", function(d) { return Math.sqrt(d.value); });

        var node = svg.append("g")
          .attr("class", "nodes")
          .selectAll("circle")
          .data(graph.nodes)
          .enter().append("circle")
          .attr("r", scaleSize)
          .call(d3.drag()
              .on("start", dragstarted)
              .on("drag", dragged)
              .on("end", dragended));

        node.append("title")
          .text(function(d) { return '@' + d.id; });

        simulation
          .nodes(graph.nodes)
          .on("tick", ticked);

        simulation.force("link")
          .links(graph.links);

        function ticked() {
          link
            .attr("x1", function(d) { return d.source.x; })
            .attr("y1", function(d) { return d.source.y; })
            .attr("x2", function(d) { return d.target.x; })
            .attr("y2", function(d) { return d.target.y; });

          node
            .attr("cx", function(d) { return d.x; })
            .attr("cy", function(d) { return d.y; });
        }

        function dragstarted(d) {
          if (!d3.event.active) simulation.alphaTarget(0.3).restart();
            d.fx = d.x;
            d.fy = d.y;
        }

        function dragged(d) {
          d.fx = d3.event.x;
          d.fy = d3.event.y;
        }

        function dragended(d) {
          if (!d3.event.active) simulation.alphaTarget(0);
            d.fx = null;
            d.fy = null;
        }
      });
    };


    renderGcc();
</script>
