<div class="disclaimer">
  <i>
    Due to the large sizes of these networks, we have turned off D3js by default
    to load the page smoothly. Below, you can toggle it on or off. If you turn
    it on, please be patient. Also, stick to the 'mention' and 'information'
    networks, they are a bit more manageable in size than the 'hashtag' graph
    and make sure to turn this one 'off' when you turn another one 'on'.
  </i>
  <strong>
    No static images were included here, since they were too large to display.
    Further down, plots of interesting parts of the graph will be shown.
  </strong>
  <div class="toggle-graph">
    <label>D3js Toggle</label>
    <div class="button-block">
      <button type="button" id="off" class="selected">Off</button>
      <button type="button" id="on">On</button>
    </div>
  </div>
</div>
<div class="graph-wrapper" style="display: none">
  <div class="graph-settings">
    <label>Node size scale</label>
    <div class="button-block">
      <button type="button" id="normal-graph" class="selected">Uniform size</button>
      <button type="button" id="log-graph">Logarithmic in degree</button>
    </div>
  </div>
  <div class="graph-settings">
    <label>Type of graph</label>
    <div class="button-block">
      <button type="button" id="mention-graph" >Mention Graph</button>
      <button type="button" id="hashtag-graph">Hashtag Graph</button>
      <button type="button" id="info-graph" class="selected">Information Graph</button>
    </div>
  </div>
  <svg id="graph" style="width: 100%;" width="800" height="600"></svg>
</div>
<script>


    var scale = 'normal';
    var graph = 'info';

    var graphSettings = {
      'hashtag': {
        'strength': -20,
        'scaleFactor': 20
      },
      'mention': {
        'strength': 0,
        'scaleFactor': 5
      },
      'info': {
        'strength': -5,
        'scaleFactor': 5,
      }
    }

    $(document).ready(function(){
      $('#off').click(function() {
        $('#off').addClass('selected');
        $('#on').removeClass('selected');
        $('.graph-wrapper').hide();
        removeGraph();
      });
      $('#on').click(function() {
        $('#on').addClass('selected');
        $('#off').removeClass('selected');
        $('.graph-wrapper').show();
        renderGraph();
      });
    });

    $(document).ready(function(){
      $("#normal-graph").click(function(){
        $("#normal-graph").addClass("selected")
        $("#log-graph").removeClass("selected")
        removeGraph();
        scale = 'normal';
        renderGraph();
      });
      $("#log-graph").click(function(){
        $("#log-graph").addClass("selected")
        $("#normal-graph").removeClass("selected")
        removeGraph();
        scale = 'log';
        renderGraph();
      });
    });

    $(document).ready(function(){
      $("#mention-graph").click(function(){
        $("#mention-graph").addClass("selected")
        $("#hashtag-graph").removeClass("selected")
        $("#info-graph").removeClass("selected")
        removeGraph();
        graph = 'mention';
        renderGraph();
      });
      $("#hashtag").click(function(){
        $("#hashtag-graph").addClass("selected")
        $("#mention-graph").removeClass("selected")
        $("#info-graph").removeClass("selected")
        removeGraph();
        graph = 'hashtag';
        renderGraph();
      });
      $("#hashtag").click(function(){
        $("#info-graph").addClass("selected")
        $("#mention-graph").removeClass("selected")
        $("#hashtag-graph").removeClass("selected")
        removeGraph();
        graph = 'info';
        renderGraph();
      });
    });

    function scaleSize(d) {
      if (scale === 'normal') {
        return 3;
      }
      if (scale === 'log') {
        console.log('Scaling size graph', graphSettings[graph]['scaleFactor']);
        var factor = d > 0 ? Math.log(d.degree) : 0.1;
        return graphSettings[graph]['scaleFactor'] * factor;
      };
    };

    function removeGraph() {
      var svg = d3.select("#graph");
      svg.selectAll("*").remove();
    }

    function renderGraph() {
      var svg = d3.select("#graph"),
      width = +svg.attr("width"),
      height = +svg.attr("height");

      var color = d3.scaleOrdinal(d3.schemeCategory20);

      var simulation = d3.forceSimulation()
        .force("link", d3.forceLink().id(function(d) { return d.id; }))
        .force("charge", d3.forceManyBody().strength(graphSettings[graph]['strength']))
        .force("center", d3.forceCenter(width / 2, height / 2));
      d3.json("data/" + graph + "_graph_LV.json", function(error, graph) {
        if (error) throw error;

        var link = svg.append("g")
          .attr("class", "links")
          .selectAll("line")
          .data(graph.links)
          .enter().append("line")
          .attr("stroke-width", function(d) { return Math.sqrt(d.value); });

        var node = svg.append("g")
          .attr("class", "nodes")
          .selectAll("circle")
          .data(graph.nodes)
          .enter().append("circle")
          .attr("r", scaleSize)
          .call(d3.drag()
              .on("start", dragstarted)
              .on("drag", dragged)
              .on("end", dragended));

        node.append("title")
          .text(function(d) { return '@' + d.id; });

        simulation
          .nodes(graph.nodes)
          .on("tick", ticked);

        simulation.force("link")
          .links(graph.links);

        function ticked() {
          link
            .attr("x1", function(d) { return d.source.x; })
            .attr("y1", function(d) { return d.source.y; })
            .attr("x2", function(d) { return d.target.x; })
            .attr("y2", function(d) { return d.target.y; });

          node
            .attr("cx", function(d) { return d.x; })
            .attr("cy", function(d) { return d.y; });
        }

        function dragstarted(d) {
          if (!d3.event.active) simulation.alphaTarget(0.3).restart();
            d.fx = d.x;
            d.fy = d.y;
        }

        function dragged(d) {
          d.fx = d3.event.x;
          d.fy = d3.event.y;
        }

        function dragended(d) {
          if (!d3.event.active) simulation.alphaTarget(0);
            d.fx = null;
            d.fy = null;
        }
    });
    };

</script>
