<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Size</th>
      <th>2a</th>
      <th>backgroundchecks</th>
      <th>guncontrol</th>
      <th>guncontrolnow</th>
      <th>gunsense</th>
      <th>gunviolence</th>
      <th>maga</th>
      <th>msm</th>
      <th>nra</th>
      <th>tcot</th>
      <th>trump</th>
    </tr>
    <tr>
      <th>Community</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>28</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>46</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>👏💪👊♥👍</td>
      <td>NaN</td>
      <td>😡😣😢😞😓</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>86</td>
      <td>👍🔫😄😡👏</td>
      <td>NaN</td>
      <td>👍♥😢💔💟</td>
      <td>😡👍😢👏💔</td>
      <td>👍🔫😎😡👏</td>
      <td>NaN</td>
      <td>👍😉😄😜🙏</td>
      <td>NaN</td>
      <td>🔫😄😡😜👍</td>
      <td>😄👍😉😜😡</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>56</td>
      <td>🔫♥❤💔💟</td>
      <td>NaN</td>
      <td>🔫♥👍❤🎶</td>
      <td>❤♥🔫💔💟</td>
      <td>❤♥🔫💔💟</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>👍😊👏😳😉</td>
      <td>❤♥🔫💔💟</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>5</th>
      <td>69</td>
      <td>👍😈🔫😉😜</td>
      <td>NaN</td>
      <td>😐🔫😳😢😕</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>♥😢💔✌💟</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>😡😠😤🔫😈</td>
    </tr>
    <tr>
      <th>6</th>
      <td>83</td>
      <td>👍👊😉😄💪</td>
      <td>NaN</td>
      <td>😡😪😤✋😣</td>
      <td>💟♥👍❤💙</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>👍💟😜♥👊</td>
      <td>😜👍💟♥👊</td>
      <td>👍😉😜♥💟</td>
      <td>♥😉🎶💔💟</td>
      <td>👍😪👏😣😓</td>
    </tr>
    <tr>
      <th>8</th>
      <td>45</td>
      <td>♥💪👊✌👍</td>
      <td>NaN</td>
      <td>✨😄💜👍😊</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>😡😒😑😤😠</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>😡♥👊😠💟</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>9</th>
      <td>270</td>
      <td>👍🔫😡💪👊</td>
      <td>NaN</td>
      <td>😡👍😠😤😢</td>
      <td>😡👍😠😢😤</td>
      <td>👍😡😢👏💔</td>
      <td>👍😡😢💔💟</td>
      <td>😡😢😠💔😷</td>
      <td>😡😬👍😜👏</td>
      <td>👍😡♥😢🔫</td>
      <td>NaN</td>
      <td>😡😠👍😈😑</td>
    </tr>
    <tr>
      <th>10</th>
      <td>56</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>😡😠👍🔫💔</td>
      <td>NaN</td>
      <td>😡🔫👍😑🙏</td>
      <td>NaN</td>
      <td>👍♥😡🔫🎶</td>
      <td>NaN</td>
      <td>😡🔫😠💔😑</td>
      <td>NaN</td>
      <td>👍🎶😎🎧♥</td>
    </tr>
    <tr>
      <th>12</th>
      <td>37</td>
      <td>♥👍💔✨😡</td>
      <td>NaN</td>
      <td>♥👍😡💟😠</td>
      <td>NaN</td>
      <td>♥✨👍💔💟</td>
      <td>♥👍😄✌💟</td>
      <td>👏👍👊🔫😎</td>
      <td>👍😉♥👏🙏</td>
      <td>😡😠😢😔🔫</td>
      <td>♥✨👍💔💟</td>
      <td>👏👍👊🔫😎</td>
    </tr>
    <tr>
      <th>13</th>
      <td>46</td>
      <td>😡😠😉👊👍</td>
      <td>NaN</td>
      <td>😡😠🔫💔😉</td>
      <td>👏👍😉😡😠</td>
      <td>😡🔫😑💔😠</td>
      <td>NaN</td>
      <td>🔫🙏♥✌😡</td>
      <td>NaN</td>
      <td>😂👍🙌👏💟</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>15</th>
      <td>43</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>😡🙌🔫😢🙏</td>
      <td>♥👍🙏💔💟</td>
      <td>😐🔫😑😅😓</td>
      <td>NaN</td>
      <td>👍👏💟♥💪</td>
    </tr>
    <tr>
      <th>17</th>
      <td>45</td>
      <td>🔫♥😡😢💔</td>
      <td>😡👍😜😠🎶</td>
      <td>😡😠👍😜♥</td>
      <td>😜♥😡👍😠</td>
      <td>😢🔫😡👍💔</td>
      <td>👍👏💟♥😡</td>
      <td>😡👍😠👊👏</td>
      <td>NaN</td>
      <td>♥😢🔫💔😜</td>
      <td>♥🎶💟🙏😜</td>
      <td>😳🔫😜😐😂</td>
    </tr>
  </tbody>
</table>
</div>
