<div class="graph-wrapper">
  <div class="graph-settings">
    <label>Node size scale</label>
    <div class="button-block">
      <button type="button" id="normal-gcc" class="selected">Uniform size</button>
      <button type="button" id="log-gcc">Logarithmic in degree</button>
    </div>
  </div>
  <div class="graph-settings">
    <label>Type of graph</label>
    <div class="button-block">
      <button type="button" id="mention-gcc" class="selected">Mention Graph</button>
      <button type="button" id="hashtag-gcc">Hashtag Graph</button>
    </div>
  </div>
  <svg id="gcc" style="width: 100%;" width="800" height="600"></svg>
  <table id="legend">
    <capiton>Top accounts by degree per partition</capiton>
    <thead>
      <tr>
        <th>Community No</th>
        <th>Most Cited Website in Community</th>
        <th>Percentage of Users who cited</th>
        <th>Community Size</th>
        <th>Screen Name</th>
        <th>Name</th>
        <th>Url</th>
        <th>Location</th>
        <th>Followers</th>
        <th>Degree</th>
      </tr>
    </thead>
  </table>
</div>


<script>
    function sortByKey(array, key) {
      return array.sort(function(a, b) {
        var x = a[key]; var y = b[key];
        return ((x < y) ? -1 : ((x > y) ? 1 : 0));
      });
    }
    var scale = 'normal';
    var graph = 'mention';
    
    var color = d3.scaleOrdinal(d3.schemeCategory20);
    
    var columns =['Community No', 'Most Cited Website in Community','Percentage of Users who cited', 'Community Size', 'Screen Name', 'Name', 'Url', 'Location', 'Followers', 'Degree'];
    var table = document.getElementById('legend');
    
    function generateTable() {
      console.log('generateTable', table.rows.length)
    
      $.getJSON('data/' + graph + '_partition_accounts_LV.json', function(json) {
          var tableLength = table.rows.length
          for (var rowNumber = 1; rowNumber < tableLength; rowNumber++) {
            table.deleteRow(1);
          }
    
          var accounts = sortByKey(json, 'Partition');
          for (var i in accounts) {
            var rowNumber = Number(i) + 1;
            var row = table.insertRow(rowNumber);
            row.style.color = color(accounts[i]['Partition']);
            for (j = 0; j < columns.length; j++) {
              var cell = row.insertCell(j);
              cell.innerHTML = accounts[i][columns[j]];
            }
          }
      });
    };



    var gccSettings = {
      'hashtag': {
        'strength': -8,
        'scaleFactor': 2
      },
      'mention': {
        'strength': -0.8,
        'scaleFactor': 5
      }
    }
    
    $(document).ready(function(){
      $("#normal-gcc").click(function(){
        $("#normal-gcc").addClass("selected")
        $("#log-gcc").removeClass("selected")
        remove();
        scale = 'normal';
        render();
      });
      $("#log-gcc").click(function(){
        $("#log-gcc").addClass("selected")
        $("#normal-gcc").removeClass("selected")
        removeGcc();
        scale = 'log';
        renderGcc();
      });
    });
    
    $(document).ready(function(){
      $("#mention-gcc").click(function(){
        $("#mention-gcc").addClass("selected")
        $("#hashtag-gcc").removeClass("selected")
        removeGcc();
        graph = 'mention';
        renderGcc();
        generateTable();
      });
      $("#hashtag-gcc").click(function(){
        $("#hashtag-gcc").addClass("selected")
        $("#mention-gcc").removeClass("selected")
        removeGcc();
        graph = 'hashtag';
        renderGcc();
        generateTable();
      });
    });
    
    function scaleSize(d) {
      if (scale === 'normal') {
        return 3;
      }
      if (scale === 'log') {
        return gccSettings[graph]['scaleFactor'] * Math.log(d.degree);
      };
    };
    
    function removeGcc() {
      var svg = d3.select("#gcc");
      svg.selectAll("*").remove();
    }
    
    function renderGcc() {
      var svg = d3.select("#gcc"),
      width = +svg.attr("width"),
      height = +svg.attr("height");


      var simulation = d3.forceSimulation()
        .force("link", d3.forceLink().id(function(d) { return d.id; }))
        .force("charge", d3.forceManyBody().strength(gccSettings[graph]['strength']))
        .force("center", d3.forceCenter(width / 2, height / 2));
      d3.json("data/" + graph + "_partition.json", function(error, graph) {
        if (error) throw error;
    
        var link = svg.append("g")
          .attr("class", "links")
          .selectAll("line")
          .data(graph.links)
          .enter().append("line")
          .attr("stroke-width", function(d) { return Math.sqrt(d.value); });
    
        var node = svg.append("g")
          .attr("class", "nodes")
          .selectAll("circle")
          .data(graph.nodes)
          .enter().append("circle")
            .attr("r", scaleSize)
            .attr("fill", function(d) { return color(d.partition); })
            .call(d3.drag()
              .on("start", dragstarted)
              .on("drag", dragged)
              .on("end", dragended));



        node.append("title")
          .text(function(d) { return '@' + d.id + ' (partition: ' + d.partition + ')'; });
    
        simulation
          .nodes(graph.nodes)
          .on("tick", ticked);
    
        simulation.force("link")
          .links(graph.links);
    
        function ticked() {
          link
            .attr("x1", function(d) { return d.source.x; })
            .attr("y1", function(d) { return d.source.y; })
            .attr("x2", function(d) { return d.target.x; })
            .attr("y2", function(d) { return d.target.y; });
    
          node
            .attr("cx", function(d) { return d.x; })
            .attr("cy", function(d) { return d.y; });
        }
    
        function dragstarted(d) {
          if (!d3.event.active) simulation.alphaTarget(0.3).restart();
            d.fx = d.x;
            d.fy = d.y;
        }
    
        function dragged(d) {
          d.fx = d3.event.x;
          d.fy = d3.event.y;
        }
    
        function dragended(d) {
          if (!d3.event.active) simulation.alphaTarget(0);
            d.fx = null;
            d.fy = null;
        }
      });
    };


    generateTable();
    renderGcc();
</script>
