<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="{{ site.baseurl }}/"> <h1>{{ site.title | default: site.github.repository_name }}</h1> </a>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
        <div class="button-group">
          <!-- <p class="view"><a href="{{ site.baseurl }}"/>Home</p></a> -->
          <label class="button-label">Select Shooting</label>
          <div>
            <button type="button" id="lasvegas-btn" class="selected">Las Vegas (NV)
            </button>
            <button type="button" id="texas-btn">Sutherland Springs (TX)
            </button>
          </div>
        </div>
        <div class="link-list" id="lasvegas">
          <p class="view">
            <a href="{{ site.baseurl }}/LV-network-page">The Network </a>
            <small class="subscript">#lasvegasshooting</small>

          </p>
          <p class="view">
            <a href="{{ site.baseurl }}/LV-sentiment-page">Sentiment Analysis</a>
            <small class="subscript">#lasvegasshooting</small>
          </p>
        </div>
        <div class="link-list" id="texas">
          <p class="view">
            <a href="{{ site.baseurl }}/network-page">The Network</a>
            <small class="subscript">#texasshooting</small>
          </p>
          <p class="view">
            <a href="{{ site.baseurl }}/sentiment-page">Sentiment Analysis </a>
            <small class="subscript">#texasshooting</small>
          </p>
          <p class="view">
            <a href="{{ site.baseurl }}/community-texas">Community Analysis </a>
            <small class="subscript">#texasshooting</small>
          </p>
        </div>
        <p class="view">
          <a href="{{ site.baseurl }}/references">References</a>
        </p>
        {% if site.github.is_project_page %}
          <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>

        {% endif %}

        {% if site.github.is_user_page %}
          <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

          <ul>
            <li><a href="mailto:duarteocarmo@gmail.com; ahmet.baglan1@gmail.com; wisse-barkhof@hotmail.com;?Subject=Event%20Analysis%20Tool">Contact <strong>Team</strong></a></li>
            <li><a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fduarteocarmo.github.io%2FProject_Page_SG%2F&text=Network%20and%20Sentiment%20Tool%20">Share <strong>Page</strong></a></li>
            <li><a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fduarteocarmo.github.io%2FProject_Page_SG%2F&text=Network%20and%20Sentiment%20Tool%20">Visit <strong>Course</strong></a></li>
          </ul>
          <ul>
            <li><a href="https://www.google.pt/?gws_rd=ssl">Download <strong>Notebook 1</strong></a></li>
            <li><a href="https://www.google.pt/?gws_rd=ssl">Download <strong>Notebook 2</strong></a></li>
            <li><a href="https://www.google.pt/?gws_rd=ssl">Download <strong>Data</strong></a></li>
          </ul>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
<!--        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>-->
        {% endif %}
        <p><small>Made with 🍕 and ☕️ </small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <script>
      $(document).ready(function(){
        $("#texas").hide();
        $("#lasvegas-btn").click(function(e){
          e.preventDefault();
          console.log('Clicked lasvegas');
          $("#lasvegas-btn").addClass("selected");
          $("#texas-btn").removeClass("selected");
          $("#lasvegas").show();
          $("#texas").hide();

        });
        $("#texas-btn").click(function(e){
          e.preventDefault();
          console.log('Clicked texas');
          $("#texas-btn").addClass("selected");
          $("#lasvegas-btn").removeClass("selected");
          $("#texas").show();
          $("#lasvegas").hide();

        });
      });
    </script>

  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
